@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Crimson+Text:wght@700&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Crimson Text', serif; */

:root{
    --main-color: #35356c;
    --text-color: #00a7e9 ;
    --default-color: #fff;
    --box-color: #69254c;
    --card-color: #cf9ea5;
    --logo-color: #f9d643;
    --nav-color: #272f42;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    background-color: var(--main-color);
    color: var(--default-color);
}
.container{
    max-width: 85%;
    margin: 8px auto 0 auto;
    padding: 0.5rem;
}

/* btn  */
.btn{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid var(--default-color);
    background-color: var(--card-color);
    cursor: pointer;
    transition: .3s;
}

.btn:hover{
    border: 2px solid var(--logo-color);
}

/* btn end  */

/* header start  */
.header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    /* border-radius: 5px; */
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--nav-color);

}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-color);
}
.logo .bx{
    color: var(--default-color);
    font-size: 1.1rem;
    margin-right: 3px;
    background-color: var(--nav-color);
}
.logo a{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--nav-color);
}
li{
    list-style: none;
    background-color: var(--nav-color);
}
li a{
    position: relative;
    text-transform: capitalize;
    width: 50px;
    margin: 0 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--nav-color);
}
li a::after{
    content: "";
    position: absolute;
    width: 0%;
    bottom: -2px;
    left: 0;
    border-bottom: 2px solid var(--logo-color);
    transition: 0.5s;
}
li a:hover::after{
    width: 100%;
}   

/* header end  */
/* 
.body{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}
.body img{
    position: absolute;
    object-fit: cover;
    z-index: -1;
} */

